.main {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
}

.section1 {
  width: 50%;
  height: 100%;
  background-color: aliceblue;
  display: flex;
  align-items: flex-end;
}

.section2 {
  width: 50%;
  height: 100%;
  background-color: aquamarine;
}

.rectangulo1 {
  width: 100%;
  height: 200px;

  display: flex;
  justify-content: space-between;
  position: relative;
}

.cuadro {
  width: 25%;
  background-color: yellow;
  height: 100%;
  display: flex;
  justify-content: center;
}

.columna {
  width: 40%;
  height: 100%;
  background-color: rgb(169, 101, 56);
}

.rectangulo2 {
  width: 50%;
  height: 200px;
  background-color: orange;
  display: flex;
  justify-content: space-around;
}

.columna2 {
  height: 100%;
  width: 50px;
  background-color: rgb(255, 217, 0);
}
.bluey{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}