.div001{
    background-color: rgb(255, 213, 0);
max-width: 1280px;
margin: 1px;
height: 800px;
}
.div002{
       background-color: rgb(222, 191, 39);
max-width: 1280px;
margin: 1px;
height: 200px;
}
.div003{
       background-color: rgb(125, 112, 42);
max-width: 500px;
margin: 1px;
height: 200px;
}
